.nav{
    display: flex;
    background-color: #333;
    display: flex;
    color: aliceblue;
   justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0px;
    flex-wrap: wrap;
}
.home{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.image{
    color: black;
}
#e{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 50px;
    position: relative;
    left: 540px;
    border-radius: 48%;
    flex-wrap: wrap;
}
#b{
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40px;
}
H1{
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}
#a{
    display:flex;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    justify-content: center; 
    position: relative;
    bottom: 40px;
}
#d{
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
}
.two{
    font-size: 1.2em;
    font-family: Arial, sans-serif;
}
.three{
    display: block;
    position: relative;
    left: 540px;
}
footer{
    display: flex;
    background-color: #333;
    height: 100px;
}
@media(max-width:500px){
    .nav{
        display: flex;
        flex-direction: column;
        height: 100px;
        background-color: black;
    }
    img{
        display: flex;
        position: static;
        left:300px;
    }
}
@media(max-width:500px){
   
}